<?php

$faucetTitle = 'WallStreetBets Faucet';
$faucetSubtitle = 'EVERY 12 HOURS YOU CAN GET FREE WALLSTREETBETS COINS';
$logo = '/images/icon.png';

// Faucet address for donations
// Replace by your wallet address
$faucetAddress = 'wallet_address';

//password for the wallet api 
$walletAPIPassword = 'password';
// Reward time in hours
$rewardEvery = '12';
// Max reward and min reward as decimals Ex: Min = 10.0 & Max = 20.0
$minReward = '1.0'; 
$maxReward = '5.0';
// Transaction fee is set to 0.0001 WSB for every request.


// Database connection
// Replace by your database credentials
$userDB = 'db_user';
$database = 'db_name';
$passwordDB = 'db_password';
$hostDB = '127.0.0.1';

// Recaptcha Keys. You can get yours here: https://www.google.com/recaptcha/
// Replace by your keys
$keys = array(
    'site_key' => 'captcha_site_key',
    'secret_key' => 'captcha_secret_key'
);

// Addresses that can request more than one time but with a different payment ID.
$clearedAddresses = array(/*'Eobot' => '22694R3K1JvGf1m98pBsbaXCA3ULQz4xdQiYHgnNAdsVDqZDjiTH9CMj6QHhKD232wPeYtfypNzp5TX5L3NcGGSmJ8pWnPJ',
	'Poloniex' => '25cZNQYVAi3issDCoa6fWA2Aogd4FgPhYdpX3p8KLfhKC6sN8s6Q9WpcW4778TPwcUS5jEM25JrQvjD3XjsvXuNHSWhYUsu',
	'HitBTC' => '24zavX3Bi2PiKGWLKh4bPGTiMsn4iHf3Y6JnKCF6V1PeBpDpuwiAMZ8di7ok6B5SQT6UXUtQgusruCoXbqUZm8VJAfq2xKK'*/
);
